<header>
    <a href="#rooms">{{ _("Book a Room") }}</a>

    <div class="phone">
        <img src="{{ url_for('static', filename='img/phone.png') }}" alt="">
        <p>+380 97 688 67 71</p>
    </div>

    <nav class="nav">
        <h1>{{ _("Navigation") }}</h1>

        <a href="#home">{{ _("Home") }}</a>
        <a href="#history">{{ _("History") }}</a>
        <a href="#rooms">{{ _("Cottages") }}</a>
        <a href="#holl">{{ _("Banquet Halls") }}</a>
    </nav>

    {% include "language_switcher.html" %}

    <button class="burger" aria-label="{{ _('Menu') }}">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
</header>
